setuptools-scm
langchain-chroma
unstructured
langchain
langchain-text-splitters
unstructured[all-docs]
flask
dash
dash-bootstrap-components
langchain-community
langchain-ollama
jq
pypandoc_binary
uvicorn
fastapi




